<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/medhome_logo_notext.png" />
    <script src="https://kit.fontawesome.com/04dadf6c21.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  </head>
  <body>
    <div class="navbar">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <img src="/static/images/medhome_logo_notext.png" alt="MedHome Logo" width="50px" style="margin: 10px;">
        <h1 id="welcome-message">Welcome!</h1>
      </div>
      <div class="links">
        <input type="checkbox" id="check" style="display: none;"/>
        <label for="check" class="checkbtn">
          <i class="fa-solid fa-bars fa-xl" style="color: #1b2a41;"></i>
        </label>
        <div class="dropdown-content">
          <a class="profile-link" href="/profile/user/{username}">Profile</a>
          <a class="export-link" href="/export/user/{username}">Export</a>
          <a class="logout-form" href="#">Logout</a>
        </div>
      </div>
    </div>
    <div style="text-align: center;" class="user-details">
      <h3 style="margin-block: 0.5rem;">Dashboard</h3>
    </div>
    <div style="text-align: center;" class="user-details">
      <button id="analysis-button">Run Analysis</button>
      <p id="analysis-response" style="margin: 1rem;"></p>
    </div>
    <div class="card-container">
      <!-- Heart Data -->
      <div class="metric-card" data-type="bpm">
        <h4>Heart Rate</h4>
        <br>
        <button class="metric-button">Show graph</button>
        <canvas id="heartrateChart"></canvas>
      </div>

      <!-- Blood Pressure -->
      <div class="metric-card" data-type="bp">
        <h4>Blood Pressure</h4>
        <br>
        <button class="metric-button">Show graph</button>
        <canvas id="bloodPressureChart"></canvas>
      </div>

      <!-- Oxygen Saturation -->
      <div class="metric-card" data-type="spo2">
        <h4>Oxygen Saturation</h4>
        <br>
        <button class="metric-button">Show graph</button>
        <canvas id="spo2Chart"></canvas>
      </div>

      <!-- Weight -->
      <div class="metric-card" data-type="weight">
        <h4>Weight</h4>
        <br>
        <button class="metric-button">Show graph</button>
        <canvas id="weightChart"></canvas>
      </div>
    </div>

    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
