<!DOCTYPE html>
<html>
  <head>
    <title>Access Denied</title>
    <style>
      .error-container {
        text-align: center;
        margin-top: 50px;
        color: #721c24;
        background-color: #f8d7da;
        padding: 20px;
        border-radius: 5px;
      }
    </style>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/medhome_logo_notext.png" />
  </head>
  <body>
    <div class="error-container">
      <h1>Access Denied</h1>
      <p id="message">You are not authenticated as {username}</p>
      <a href="/login">Return to login</a>
    </div>
    <script src="./static/js/error.js"></script>
  </body>
</html>
