<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/medhome_logo_notext.png" />
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="navbar">
        <div class="links">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
    <img src="../static/images/medhome_logo.png" alt="MedHome Logo" width="700px">
    <div class="project-description">
        <p>    
            Welcome to MedHome, a smart, sensor-integrated chair designed to monitor your vital signs from the comfort of your home or clinic! This project is being developed for UCSD's ECE140B (Spring 2025) and aims to provide accessible, real-time health monitoring with the help of IoT and AI. 🚀
        </p>
    </div>
    <script src="./static/js/index.js"></script>
</body>
</html>
