<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
    <div class="navbar">
        <div class="quote">LOGO HERE: MedHome</div>
        <div class="links">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
    <h1>MedHome</h1>
    <div class="project-description">
        <p>
            
        </p>
    </div>
    <script src="./static/js/index.js"></script>
</body>
</html>
