<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/medhome_logo_notext.png" />
  </head>
  <body>

    <img src="../static/images/medhome_logo.png" alt="MedHome Logo" width="600px">

    <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <br>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
    <div>
      <a href="/">Go back to main page</a>
    </div>
    <script src="./static/js/login.js"></script>
  </body>
</html>
